.orders-body{
    display: flex;
    flex-direction: column;
    gap: 4vw;
    align-items: center;
    padding: 2vw;
    background-color: #FAF9F6;
    min-height: calc(100vh - 100px);
}

.orders-body h2{
    font-size: 2vw;
    color: cornflowerblue;
}

.order-block{
    width: 60%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #dadada;
}

.order-details{
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edebeb;
    border-bottom: 1px solid #dadada;
}

.order-details-right{
    display: flex;
    gap: 3vw;
}

.order-info .text1{
    font-size: 1vw;
    font-weight: 600;
}

.order-info .text2{
    font-size: 0.95vw;
    color: gray;
}

.item-details{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.5vw;
}

.one-item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.one-item .left{
    display: flex;
    gap: 2vw;
}

.item-image{
    width: 20%;
}

.item-image img{
    width: 80%;
    height: 80%;
    object-fit: contain;
    object-position: center;
}

.item-info .item-name{
    font-size: 1vw;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.item-info .item-delivery-date , .item-info .item-quantity{
    font-size: 1vw;
    margin-bottom: 0.5em;
}

.order-again{
    height: 3em;
    width: 10em;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: orangered;
    font-size: 0.9vw;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width : 900px) {
    .orders-body{
        min-height: calc(100vh - 80px);
        padding: 4vw;
    }
    .orders-body>h2{
        font-size: 3.5vw;
    }
    .order-block{
        width: 80%;
    }
    .order-info .text1{
        font-size: 1.5vw;
    }
    .order-info .text2{
        font-size: 1.2vw;
    }
    .item-image{
        width: 25%;
    }
    .item-info .item-name{
        font-size: 1.6vw;
    }
    .item-info .item-delivery-date , .item-info .item-quantity{
        font-size: 1.5vw;
    }
    .order-again{
        font-size: 1.5vw;
    }
}

@media (max-width : 500px) {
    .orders-body{
        min-height: calc(100vh - 60px);
        padding: 5vw;
    }
    .orders-body>h2{
        font-size: 5vw;
    }
    .order-block{
        width: 90%;
    }
    .order-details{
        padding: 3vw;
    }
    .order-info .text1{
        font-size: 2.5vw;
    }
    .order-info .text2{
        font-size: 2.1vw;
    }
    .item-details{
        gap: 1.5em;
    }
    .one-item{
        padding: 1vw 3vw;
        flex-direction: column;
        gap: 0.2em;
    }
    .item-image{
        width: 30%;
    }
    .item-info .item-name{
        font-size: 3vw;
    }
    .item-info .item-delivery-date , .item-info .item-quantity{
        font-size: 2.7vw;
    }
    .order-again{
        font-size: 2.7vw;
    }
}

