@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html , body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.main{
    min-height: 100%;
    width: 100%;
    position: relative;
}

.nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;
    border-bottom: 1px solid #dadada;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.nav>a{
    height: 50%;
    width: 10vw;
}

.logo{
    height: 100%;
    width: 100%;
    padding: 5px;
    background-color : orangered;
    border: none;
}

.logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.search-bar{
    height: 45%;
    width: 50%;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    /* justify-content: space-between; */
}

.search-bar input{
    height: 100%;
    width: 88%;
    outline: none;
    border: 1px solid black;
    border-right: none;
    border-radius: 20px 0 0 20px;
    font-size: 1.3vw;
    padding: 0 1.5vw;
}
.search-bar button{
    height: 100%;
    width: 12%;
    border: none;
    background-color: orangered;
    cursor: pointer;
}
.search-bar button i{
    font-size: 1.7vw;
    color: white;
    font-weight: 600;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.7vw;
}

.nav-return a{
    font-size: 1.1vw;
    font-weight: 600;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.nav-cart{
    position: relative;
}

.nav-cart a{
    display: flex;
    align-items: flex-end;
    gap: 0.2vw;
    color: black;
    text-decoration: none;
}

.nav-cart a i{
    font-size: 3vw;
}

.nav-cart a h3{
    font-size: 1.1vw;
    font-weight: 600;
}

.cart-number{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 1.7vw;
    width: 1.7vw;
    font-size: 0.8vw;
    font-weight: 900;
    background-color: orangered;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}


.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 300px));
    justify-content: center;
    gap: 30px;
    padding: 4vw 6vw;
    background-color: #FAF9F6;

}

.product{
    height: 25em;
    padding: 1.5em;
    border-radius: 20px;
    background-color: white;
    position: relative;
    transition: all 200ms ease;
    border: 1px solid #dadada;
    display: flex;
    flex-direction: column;
}

.product * {
    margin-bottom: 0.4em;
}

.product:hover{
    transform: scale(1.05);
}

.product-image{
    height: 45%;
    width: 100%;
    margin-bottom: 1.2em;
}

.product-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.product .product-name{
    font-size: 1vw;
    font-weight: 600;
}

.product .product-rating {
    font-size: 0.9vw;
    font-weight: 600;
    color: cornflowerblue;
}

.product .product-price{
    font-size: 0.9vw;
    font-weight: 600;
    margin-bottom: 0.5vw;
}

.product .product-quantity select{
    font-size: 0.9vw;
    padding: 0.2em 0.4em;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    background-color: #edebeb;
    cursor: pointer;
}

.product .added-popup{
    font-size: 1vw;
    color: #00D26A;
    font-weight: 600;
    opacity: 0;
    transition: all 300ms ease;
}

.product .visible{
    opacity: 1;
}

.product .add-to-cart{
    margin: auto;
    margin-bottom: 0;
    justify-self: center;
    height: 10%;
    width: 80%;
    border-radius: 20px;
    border: none;
    background-color: orangered;
    color: white;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
}


@media (max-width : 1200px) {
    .product .product-name{
        font-size: 1.5vw;
    }
    .product .product-rating{
        font-size: 1.3vw;
    }
    .product .product-price{
        font-size: 1.3vw;
    }
    .product .product-quantity select{
        font-size: 1.2vw;
        padding: 0.3em 0.5em;
        margin-top: 0.4em;
    }
    .product .added-popup{
        font-size: 1.3vw;
    }
    .product .add-to-cart{
        font-size: 1.5vw;
    }
}

@media (max-width : 900px) {

    /* media queries for nav bar  */
    .nav{
        height: 80px;
        padding: 0 5vw;
    }

    .nav>a{
        height: 55%;
        width: 12vw;
    }

    .search-bar{
        height: 50%;
    }
    .search-bar input{
        width: 83%;
        font-size: 1.7vw;
    }
    .search-bar button{
        width: 17%;
    }
    .search-bar button i{
        font-size: 2.1vw;
    }

    .nav-return a{
        font-size: 1.6vw;
        line-height: 1vw;
    }

    .nav-cart a i{
        font-size: 4vw;
    }
    .nav-cart a h3{
        font-size: 1.6vw;
    }
    .cart-number{
        height: 2.3vw;
        width: 2.3vw;
        font-size: 1.1vw;
    }


    /* media queries for products  */
    .product .product-name{
        font-size: 1.9vw;
    }
    .product .product-rating{
        font-size: 1.7vw;
    }
    .product .product-price{
        font-size: 1.7vw;
    }
    .product .product-quantity select{
        font-size: 1.5vw;
        padding: 0.3em 0.5em;
        margin-top: 0.4em;
    }
    .product .added-popup{
        font-size: 1.7vw;
    }
    .product .add-to-cart{
        font-size: 1.7vw;
    }
}


@media (max-width : 600px) {

    /* media queries for nav bar  */
    .nav{
        height: 65px;
        padding: 0 3vw;
    }
    .nav>a{
        height: 50%;
        width: 15vw;
    }
    .logo{
        padding: 3px;
    }

    .search-bar{
        border-radius: 15px;
        width: 45%;
    }
    .search-bar input{
        border-radius: 20px 0 0 20px;
        font-size: 2.5vw;
        width: 80%;
    }
    .search-bar button{
        width: 20%;
    }
    .search-bar button i{
        font-size: 3.2vw;
    }

    .nav-right{
        gap: 5vw;
    }
    .nav-return a{
        font-size: 2.5vw;
        line-height: 5px;
        font-weight: 700;
    }
    .nav-cart a h3{
        display: none;
    }
    .nav-cart a i{
        font-size: 7vw;
    }
    .cart-number{
        height: 4vw;
        width: 4vw;
        font-size: 1.8vw;
    }


    /* media queries for products  */
    .products-container{
        padding-block: 8vw;
    }
    .product{
        height: 25em;
        padding: 1.1em;
    }
    .product .product-name{
        font-size: 2.8vw;
    }
    .product .product-rating{
        font-size: 2.6vw;
    }
    .product .product-price{
        font-size: 2.6vw;
    }
    .product .product-quantity select{
        font-size: 2.5vw;
        padding: 0.3em 0.5em;
        margin-top: 0.4em;
    }
    .product .added-popup{
        font-size: 2.6vw;
    }
    .product .add-to-cart{
        font-size: 2.9vw;
    }
}

@media (max-width : 440px) {
    .products-container{
        padding-block: 10vw;
    }
    .product{
        height: 22em;
        padding: 1.1em;
    }
    .product .product-name{
        font-size: 3.3vw;
    }
    .product .product-rating{
        font-size: 3vw;
    }
    .product .product-price{
        font-size: 3vw;
    }
    .product .product-quantity select{
        font-size: 2.9vw;
        padding: 0.3em 0.5em;
        margin-top: 0.4em;
    }
    .product .added-popup{
        font-size: 3vw;
    }
    .product .add-to-cart{
        font-size: 3.3vw;
    }
}